.info {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  height: 50vh;
}

.card {
  display: flex;
  justify-content: center;
  outline: 2px solid #ccc;
  border-radius: 50px;
  margin: 24px;
}

.card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card__info_value::first-letter {
  text-transform: capitalize;
}

.card__info_title {
  font-size: 20px;
  width: 40%;
}

.card__info_stats {
  display: grid;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  gap: 16px;
}

.card__stat {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 320px) {
  .info {
    height: auto;
    padding-top: 20px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-bottom: 20px;
    margin: 0;
  }

  .card__image {
    width: 60%;
  }

  .card__info_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
  }

  .card__stats_name {
    min-width: 50px;
  }

  .card__info_stats {
    gap: 8px;
  }
}
