.info {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  /* background-color: aqua; */
  height: 50vh;
}

.card {
  display: flex;
  justify-content: center;
  gap: 40px;
  outline: 2px solid #ccc;
  border-radius: 50px;
}

/* .card__image {
  width: 30%;
} */

.card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card__info_title {
  font-size: 20px;
  width: 40%;
}

.card__stats {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  gap: 15px;
}
