.landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing__team-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing__team-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
}

.landing__team {
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
}

.landing__card {
  display: flex;
  flex-direction: column;
}

.card__button-holder {
  display: flex;
  justify-content: space-between;
}

.landing__card-image {
  width: 75px;
  height: 75px;
}

.landing__card-text {
  display: flex;
  justify-content: center;
}

.landing__pokedex {
  height: 180px;
  width: 30%;
}

.landing__button {
  height: 100%;
  width: 100%;
}

.landing__random {
  height: 180px;
  width: 30%;
}
