.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 16px;
  padding-bottom: 30px;
  height: 100px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo-image {
  width: 70px;
  height: 70px;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__button:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #cfcfcf;
}

.header__search {
  width: 200px;
  display: flex;
  gap: 8px;
}

.header__search-input {
  border-radius: 30px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #cfcfcf;
}

.header__search-input:focus {
  border: 1px solid #2f71e5;
  outline: none;
}

.header__search-input:focus::placeholder {
  color: black;
}

.header__search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-radius: 50px;
  border: none;
  background: #2f71e5;
  transition: background-color 0.1s linear 0.1s;
  box-shadow: 0 10px 10px #0e1a3933;
  cursor: pointer;
}

.header__search-button:hover {
  background: #0255e5;
}

.info {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  height: 50vh;
}

.card {
  display: flex;
  justify-content: center;
  gap: 40px;
  outline: 2px solid #ccc;
  border-radius: 50px;
  margin: 24px;
}

.card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card__info_value::first-letter {
  text-transform: capitalize;
}

.card__info_title {
  font-size: 20px;
  width: 40%;
}

.card__stats {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 320px) {
  .header {
    flex-direction: column;
    gap: 0;
  }

  .header__logo {
    gap: 0;
  }

  .header__logo_text {
    font-size: 26px;
  }

  .header__search {
    width: auto;
  }

  .info {
    height: auto;
    padding-top: 20px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-bottom: 20px;
    margin: 0;
  }

  .card__image {
    width: 60%;
  }

  .card__info_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
  }

  .card__stats_name {
    min-width: 50px;
  }
}
