.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 16px;
  padding-bottom: 30px;
  height: 100px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo-image {
  width: 70px;
  height: 70px;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__button:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #cfcfcf;
}

.header__search {
  width: 200px;
}

.header__search-input {
  border-radius: 30px;
  height: 40px;
  padding-left: 16px;
  /* border-width: 1px;
  border-color: #cfcfcf;
  border-style: solid; */
  border: 1px solid #cfcfcf;
}

.header__search-input:focus {
  border: 1px solid #2f71e5;
  outline: none;
}

.header__search-input:focus::placeholder {
  color: black;
}

/* .header__search-input {
  border: 1px solid black;
} */

/* .header__title {
  font-size: 40px;
  margin-left: 12px;
} */
